.App {
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "month-status movements"
    "movement-month movements";

  padding-top: 20px;

  &__movement-month {
    width: 90%;
    grid-area: movement-month;
    justify-self: center;
  }

  &__movements {
    width: 90%;
    grid-area: movements;
    justify-self: center;
  }

  &__month-status {
    width: 90%;
    grid-area: month-status;
    justify-self: center;
  }
}
