@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qlqokp');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qlqokp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qlqokp') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qlqokp') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qlqokp##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--pencil {
  &:before {
    content: $icon--pencil; 
  }
}
.icon--calendar {
  &:before {
    content: $icon--calendar; 
  }
}
.icon--bin {
  &:before {
    content: $icon--bin; 
  }
}
.icon--plus {
  &:before {
    content: $icon--plus; 
  }
}
.icon--cross {
  &:before {
    content: $icon--cross; 
  }
}
.icon--checkmark {
  &:before {
    content: $icon--checkmark; 
  }
}
.icon--checkbox-checked {
  &:before {
    content: $icon--checkbox-checked; 
  }
}
.icon--checkbox-unchecked {
  &:before {
    content: $icon--checkbox-unchecked; 
  }
}

