@import "../../styles/variables/variables.scss";

.button {
  height: $input-height;
  width: 70px;

  border-radius: $border-radius;
  border: none;

  font-size: $font-size-regular;

  cursor: pointer;

  background-color: $color-green;
  color: white;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $color-green-dark;
  }
}
