@import "../../styles/variables/variables.scss";

.select {
  border-radius: $border-radius;
  border: $border-line-with solid $color-grey;

  height: $select-height;

  font-size: $font-size-big;

  &:focus {
    outline: none;
  }
}
