@import "../../../../styles/variables/variables.scss";

.MonthMovement {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "name amount"
    ". amount"
    "paid actions";

  overflow: hidden;

  border: $border-line-with solid $color-grey;
  margin-top: 10px;
  padding: 10px;

  border-radius: $border-radius;

  &__name {
    grid-area: name;

    font-size: $font-size-big;
    font-weight: $font-weight-regular;
  }

  &__amount {
    grid-area: amount;
    justify-self: end;
    align-self: center;

    font-size: $font-size-biggest;
    font-weight: $font-weight-semibold;

    &-expense {
      color: $color-red;
    }
    &-income {
      color: $color-green;
    }
  }

  &__paid {
    grid-area: paid;
    color: $color-red;
    font-size: $font-size-bigger;
    font-weight: $font-weight-semibold;
  }

  &__actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
  }
}
