$font-styles: (
  Light: (
    300,
    normal
  ),
  LightItalic: (
    300,
    italic
  ),
  Regular: (
    500,
    normal
  ),
  SemiBold: (
    600,
    normal
  ),
  SemiBoldItalic: (
    600,
    italic
  ),
  Bold: (
    700,
    normal
  ),
  BoldItalic: (
    700,
    italic
  ),
  ExtraBold: (
    900,
    normal
  ),
  ExtraBoldItalic: (
    900,
    italic
  )
);

@each $name, $styles in $font-styles {
  $weight: nth($styles, 1);
  $style: nth($styles, 2);

  @font-face {
    font-family: "Open Sans, sans-serif";
    src: url("OpenSans-#{$name}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

$open-sans: "Open Sans", Calibri, Helvetica, Arial, sans-serif;
