html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $open-sans;
  color: $color-text;
  font-weight: $font-weight-regular;
}

input,
select,
button {
  font-family: $open-sans;
  color: $color-text;
  font-weight: $font-weight-regular;
}

ul {
  list-style-type: none;
}
