@import "../../../../styles/variables/variables.scss";
@import "../../../../styles/fonts/fonts.scss";

$frequency-text-height: 24px;

.Movement {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 50%);
  grid-template-areas:
    "name amount"
    ". amount"
    "frequency actions";

  overflow: hidden;

  border: $border-line-with solid $color-grey;
  margin-top: 10px;
  padding: 10px;

  border-radius: $border-radius;

  &__name {
    grid-area: name;

    font-size: $font-size-big;
    font-weight: $font-weight-regular;
  }

  &__amount {
    grid-area: amount;
    justify-self: end;
    align-self: center;

    font-size: $font-size-biggest;
    font-weight: $font-weight-semibold;

    &-expense {
      color: $color-red;
    }
    &-income {
      color: $color-green;
    }
  }

  &__frequency {
    display: flex;
    grid-area: frequency;
    align-self: end;

    > i {
      font-size: $frequency-text-height;
    }

    &-text-container {
      display: flex;
    }

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;

      height: $frequency-text-height;
      width: 30px;
      margin-left: 5px;
      padding: 0 2px;
      border-radius: $border-radius;

      background-color: #bfc8f2;

      font-family: $roboto-mono;
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    justify-content: flex-end;
  }
}
